<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>

    <link href="bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Spot Set</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</header>
<main class="container-fluid">
    <div class="row">
        <div class="col-sm-auto justify-content-center mx-auto text-center">
            <h1 class="text-center">xxx error description</h1>
            <p class="lead">
                An error has occurred
            </p>
        </div>
    </div>
    <div class="row">
        <p class="col-sm-6 mx-auto justify-content-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus posuere nulla a diam
            vestibulum commodo.
            Phasellus dapibus, dui eu tincidunt vestibulum, diam est tincidunt ligula, ut mollis lorem urna sit
            amet
            dolor. Nullam maximus lorem id dui sodales, quis facilisis arcu elementum. Duis posuere vestibulum
            tortor, feugiat pulvinar dolor semper sed.
        </p>
    </div>
</main>
</body>
</html>