<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spotify set algebra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid mt-md-3">
    <div class="row align-items-center">
        <div class="col-md-auto mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Spot set</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Algebra set operations for spotify playlists</h6>
                    <a th:href="@{'/oauth2/authorization/spotify'}" class="btn btn-primary ">Log in with
                        spotify</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>