<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workspace</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"
          th:remove="all">

    <link rel='stylesheet' href="bootstrap.min.css" th:href="'/webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css'">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#" th:href="@{'/workspace'}">Spot Set</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#" th:href="@{'/logout'}">Sign out</a>
        </li>
    </ul>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 d-md-block sidebar border text-nowrap border-dark mt-md-3">
            <div class="position-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    Available playlists
                </h6>
                <ul class="list-group list-group-flush flex-column mb-2" th:remove="all-but-first">
                    <li class="list-group-item" th:each="playlist: ${workspace.playlists}" th:text="${playlist}">
                        Playlist 1
                    </li>
                    <li class="list-group-item">
                        Playlist 2
                    </li>
                    <li class="list-group-item">
                        Playlist 3
                    </li>
                </ul>
            </div>
        </div>
        <main class="col-md-9, col-lg-10 mx-auto pt-3">
            <form action="#" th:action="@{/workspace/query}" th:object="${form}" method="post">
                <div class="input-group has-validation">
                    <input type="text"
                           class="form-control" th:classappend="${form_error != null}? 'is-invalid'"
                           id="queryInputValue" list="datalist"
                           placeholder="Input your query" th:field="*{query}"/>
                    <datalist id="datalist" th:remove="all-but-first">
                        <option value="A+B" th:each="query: ${workspace.queryHistory}" th:value="${query}">
                        <option value="A-B">
                        <option value="(A+B)-C">
                    </datalist>
                    <button class="btn btn-outline-secondary btn-outline-dark" type="submit" formaction="#"
                            th:formaction="@{/workspace/query}">
                        Submit
                    </button>
                    <div class="invalid-feedback" th:text="${form_error}">Error message</div>
                </div>
            </form>
            <div class="border-bottom border-top pt-3">
                <h1>
                    Instructions
                </h1>
                <p class="lead">
                <ul class="lead">
                    <li >To reference a playlist, just type its designated letter, case insensitive: A, b, c</li>
                    <li>Union: A+B, B+C+A</li>
                    <li>Intersection: A*B, C*B*A</li>
                    <li>Difference: A-B, C-A-B</li>
                    <li>Group expressions with parenthesis: A-(A*B)</li>
                    <li>Special selector: && - all liked songs</li>
                    <li>Note: All operations are left associative</li>
                </ul>
                </p>
            </div>

        </main>

    </div>

</div>
</body>
</html>