<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workspace</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Algo Set</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 d-md-block sidebar border text-nowrap border-dark mt-md-3">
            <div class="position-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    Available playlists
                </h6>
                <ul class="list-group list-group-flush flex-column mb-2 ">
                    <li class="list-group-item">
                        Playlist 1
                    </li>
                    <li class="list-group-item">
                        Playlist 2
                    </li>
                    <li class="list-group-item">
                        Playlist 3
                    </li>
                </ul>
            </div>
        </div>
        <main class="col-md-9, col-lg-10">
            <h6>
                Usage:
            </h6>

        </main>
    </div>

</div>

</body>
</html>